# Application
NODE_ENV=DEVELOPMENT
PORT=3000
API_PREFIX=api

# CORS Policy
CORS_ORIGINS=

# Auth JWT
JWT_SECRET=<Your JWT SHA-256 Secret key>
JWT_EXPIRED_TIME=1d

REFRESH_TOKEN_COOKIE=refreshToken
REFRESH_TOKEN_MAX_AGE=7d

# Redis Cache
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=<Your Redis password>

CACHE_DEFAULT_TTL_SECONDS=60
CACHE_DB_INDEX=0

QUEUE_DB_INDEX=1
QUEUE_DEFAULT_ATTEMPTS=3
QUEUE_REMOVE_COMPLETED_AGE_DAYS=7
QUEUE_REMOVE_FAILED_AGE_DAYS=30

# Postgres DB
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=<Your DB password>
DB_DATABASE=database

DB_URL=postgresql://postgres:<Your DB password>@127.0.0.1:5432/database

# S3 Object Storage
S3_HOST=127.0.0.1
S3_PORT=9000
S3_USERNAME=admin
S3_PASSWORD=<Your S3 password>
S3_BUCKET_NAME=<Your bucket name>
S3_REGION=us-east-1
S3_USE_SSL=false
S3_PRESIGNED_TTL=3600

ADMIN_LOGIN=admin
ADMIN_PASSWORD=admin
ADMIN_EMAIL=admin@example.com
