# Application
NODE_ENV=DEVELOPMENT
PORT=3000

# CORS Policy
CORS_ORIGINS=http://localhost:5173

# Auth JWT
JWT_SECRET=<Your JWT SHA-256 Secret key>
JWT_EXPIRED_TIME=1d

REFRESH_TOKEN_COOKIE=refreshToken
REFRESH_TOKEN_MAX_AGE=604800000

# Redis Cache
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=<Your Redis password>

# Postgres DB
DB_URL=postgresql://postgres:postgres@127.0.0.1:5432/rag_database
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=<Your DB password>
DB_DATABASE=rag_database
